<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Aliexpress opinie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewOpinion" routerLinkActive="active">Przeglądaj recenzje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addOpinion" routerLinkActive="active">Dodaj recenzje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Zarejestruj</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<alert></alert>
<div class="container">
    <router-outlet></router-outlet>
</div>